body {
    height: 95vh;
    width: 95%;
    margin: 10px;
    background-image: url("../img/Fon.gif");
}

.table {
    width: 100%;
    height: 100%;
}

.left {
    width: 15%;
}

.right {
    width: 83%;
    margin-left: 2px;
}

.left-head, .right-head {
    float: left;
}

.content, .left-head-calls, .right-head-row-1, .head-cols, .row, .row-foot{
    border: 1px solid grey;
    margin: 1px;
}

.left-head-calls, .right-head-row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-head {
    height: 95vh;
    display: block
}

.left-head-calls{
    height: 17.5vh
}

.right-head-row-1 {
    height: 11vh;
}

.right-head-row-2 {
    width: 100%;
    display: flex;
}

.head-cols, .row{
    height: 6vh;
}

.head-cols-1 {
    width: 15%;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.head-cols-2 {
    flex: 1;
}

.row-foot{
    height: 60vh;
}

.content{
    width: 99.5%;
    height: 78.5vh;
    padding: 2px;
}
.img{
    width: 100%;
    height: 79vh;
}

.head-cols-header{
    width: 25%;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
}
