body{
    background: blue;
    color: white;
}

h1{
    text-align: center;
}

h2{
    text-transform: uppercase;
}
p{
    font-family: Arial;
    size: 12pt;
}

.back{
    color: white;
}

.place_of_work{
    text-decoration: underline;
    font-weight: bold;
}

.post{
    font-weight: bold;
    font-style: italic;
}

.text{
    margin-left: 25px;
}